.App {
  text-align: center;
}

.btn {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  padding: '16.5px'
}

.btn:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  color: #000
}

button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 0.6em;
    cursor: pointer;
    align-self: center;
    font-size: .75em;
    font-weight: 400;
    line-height: 1;
    margin: .5rem;
    padding: 1em;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
}

.canvas {
    height:100vh;
}

.container {
    height:100vh;
}

.displayDialog > div > div {
  width: 30em;
  height: 30em;
  justify-content: center;
}

.formContainer {
  text-align: center;
  margin: auto;
}

div.listItemBtn {
  justify-content: center;
}

div.listItemBtnDelete:hover {
  background-color: rgba(255, 0, 0, .25);
  /* color: white; */
}
